@charset "utf-8";

* {
  box-sizing: border-box;
}
.lotto__numbers {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.lotto__number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  min-height: 3rem;
  padding: 4px;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
}
