@charset "utf-8";

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}
html,
body {
  height: 100%;
}
button {
  border: 0;
  cursor: pointer;
}

/* Custom variables */
:root {
  --color-primary: #2d61bc;
  --color-calculator: #222127;
  --color-button: #3d3645;
  --color-button-hover: #484051;
  --color-button-active: var(--color-primary);
  --color-black: #232429;
  --color-white: #fff;
  --color-red: #ef3d5e;
  --color-yellow: #ffe100;
  --color-green: #7fe73a;
  --gap-button: 3px;
}

/* Container */
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calculator */
.calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  padding: 16px;
  background-color: var(--color-calculator);
  border-radius: 6px;
}
.calculator__header {
  display: flex;
  gap: 8px;
}
.calculator__header-button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.calculator__header-button--close {
  background-color: var(--color-red);
}
.calculator__header-button--minimize {
  background-color: var(--color-yellow);
}
.calculator__header-button--maximize {
  background-color: var(--color-green);
}
.calculator__display {
  border-radius: 4px;
}
.calculator__result-input {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--color-white);
  font-size: 40px;
  text-align: right;
}
.calculator__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-button);
}
.calculator__button {
  flex: 1 0 calc(25% - var(--gap-button));
  padding: 16px;
  border-radius: 4px;
  background-color: var(--color-button);
  color: var(--color-white);
  font-size: 18px;
}
.calculator__button:hover {
  background-color: var(--color-button-hover);
}
.calculator__button:active {
  background-color: var(--color-button-active);
}
.calculator__button--zero {
  flex-basis: calc(50% - var(--gap-button) / 2);
  max-width: calc(50% - var(--gap-button) / 2);
}
