@charset "utf-8";

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}
html,
body {
  height: 100%;
}
button {
  border: 0;
  cursor: pointer;
}

/* Custom variables */
:root {
  --color-primary: #239a82;
  --color-background: linear-gradient(to right bottom, #73f4a6, #cad1b0, #cb6381);
  --color-calculator: #262425;
  --color-button: #3f4249;
  --color-button-function: #303235;
  --color-button-operator: var(--color-primary);
  --color-white: #fff;
  --color-red: #ef3d5e;
  --color-yellow: #ffe100;
  --color-green: #7fe73a;
  --gap-button: 3px;
  --padding-calculator-outer: 16px;
}

/* Container */
.container {
  display: flex;
  gap: 16px;
  height: 100%;
  padding: 16px;
  background: var(--color-background);
}

/* Icon */
.icon {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
}

/* Calculator */
.calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 0 0 var(--padding-calculator-outer);
  background-color: var(--color-calculator);
  border-radius: 6px;
}
.calculator__header {
  display: flex;
  gap: 8px;
  padding: var(--padding-calculator-outer) var(--padding-calculator-outer) 0;
  cursor: move;
}
.calculator__header-button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.calculator__header-button--close {
  background-color: var(--color-red);
}
.calculator__header-button--minimize {
  background-color: var(--color-yellow);
}
.calculator__header-button--maximize {
  background-color: var(--color-green);
}
.calculator__header:hover .calculator__header-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.calculator__header:hover .calculator__header-button--close {
  background-image: url('./img/close.svg');
}
.calculator__header:hover .calculator__header-button--minimize {
  background-image: url('./img/minus.svg');
}
.calculator__header:hover .calculator__header-button--maximize {
  background-image: url('./img/maximize.svg');
  background-size: 10px;
}
.calculator__display-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 4px;
  height: 64px;
  overflow: hidden;
}
.calculator__display {
  padding: 8px var(--padding-calculator-outer);
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--color-white);
  font-size: 40px;
  text-align: right;
  transition: font-size 0.1s;
  user-select: all;
}
.calculator__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-button);
  padding: 0 var(--padding-calculator-outer);
}
.calculator__button {
  flex: 1 0 calc(25% - var(--gap-button));
  padding: 14px;
  border-radius: 4px;
  background-color: var(--color-button);
  color: var(--color-white);
  font-size: 18px;
  user-select: none;
}
.calculator__button:hover {
  filter: brightness(1.2);
}
.calculator__button:active {
  filter: brightness(0.9);
}
.calculator__button--zero {
  flex-basis: calc(50% - var(--gap-button) / 2);
  max-width: calc(50% - var(--gap-button) / 2);
}
.calculator__button--operator,
.calculator__button--equals {
  background-color: var(--color-button-operator);
  font-size: 24px;
}
.calculator__button--function {
  background-color: var(--color-button-function);
}
